version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3001:3001"
    volumes:
      - warehouse_data:/app/data
    environment:
      - PORT=3001
    restart: always

  client:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_SERVER_URL=http://localhost:3001
    depends_on:
      - server
    restart: always

volumes:
  warehouse_data:
